
#MsDeploy and Package path
msdelpoyexe=C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe
PackageDir=D:\tstpackage
Package=TestWebApp.zip
DeployCmdFile=TestWebApp.deploy.cmd
setParamFilePath=D:\tstpackage\TestWebApp.SetParameters.xml

#DevEnvironment
dev_McName=WKSBAN04GF52A
dev_siteName=Schwab_forDev
dev_username=mphasis\tfs.admin
dev_password=MphGeneric17
dev_authtype=NTLM
dev_includeAcls=False
dev_verb=sync


#TestEnvironment

test_McName=WKSBAN04ATZLB2
test_siteName=Schwab_forTest
test_username=Mphasis\tfs.admin
test_password=MphGeneric17
test_authtype=NTLM
test_includeAcls=False
test_verb=sync




























