#TFS connection properties
tfsurl=https://tfs.corp.mphasis.com/tfs
collectionName=MphasisCollection
CollectionUrl=https://tfs.corp.mphasis.com/tfs/MphasisCollection
teamProjectName=DET_TeamProject
SourceCodeFolderName=AspNetWebApplication
Tempworkspace=D:\TFSTempWs\



#Build related properties
soultionName=TestWebApp.sln
msbuildexe=C:\Program Files (x86)\MSBuild\12.0\Bin\amd64\MSBuild.exe

sourceCodePath=D:\TFSTempWs\DET_TeamProject\AspNetWebApplication
configurationMode=Release
buildOutPutDir=D:\BuildDrops\SchwabAutomation
buildLogFile=Msbuild.log
packageLoc=D:\tstpackage

















